<template name="addEvents">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="addEvents-main-title">
                {{ mf 'addEvents-mainHeading' 'Add your event!'}}
            </h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="eventTitle">
                    {{ mf 'addEvents-addEventForm-eventTitle-label' 'Title' }}
                </label>
                <input
                       type="text"
                       class="form-control"
                       id="eventTitle"
                       placeholder="{{ mf 'addEvents-addEventForm-eventTitle-placeholderText' 'Event title' }}">
            </div>
            <div class="form-group">
                <label for="eventCoverImage">
                    {{ mf 'addEvents-addEventForm-eventTitle-coverPhotoLabel' 'Cover Photo'}}
                </label>
                <input type="file" class="btn btn-default" id="eventCoverImage">
            </div>
            <div class="form-group">
                <label for="authorName">
                    {{ mf 'addEvents-addEventForm-eventTitle-author-label' 'Organiser'}}
                </label>
                <input type="text"
                       class="form-control"
                       id="authorName"
                       placeholder="{{ mf 'addEvents-addEventForm-eventTitle-author-placeholder' 'Organiser Name' }}">
            </div>
            <div class="form-group">
                <label for="eventKeywords">
                    {{ mf 'addEvents-addEventForm-eventTitle-keywords-label' 'Keywords' }}
                </label>
                <input type="select"
                       id="eventKeywords"
                       placeholder="{{ mf 'addEvents-addEventForm-eventTitle-keywords-placeholder' 'Choose some tags (e.g. JavaScript, Math)' }}">
            </div>

            <div class="form-group">
                <label for="eventPublished">
                    {{ mf 'addEvents-addEventForm-eventTitle-published-label' 'Change to "Published" when event should be viewable to others.' }}
                </label>
                <select class="form-control" id="eventPublished">
                    <option value="false">{{ mf 'addEvents-addEventForm-eventTitle-unpublished-option' 'Unpublished' }}</option>
                    <option value="true">{{ mf 'addEvents-addEventForm-eventTitle-published-option' 'Published' }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="aboutText">
                    {{ mf 'addEvents-addEventForm-eventTitle-aboutEvent-label' 'About this event' }}
                </label>
                <textarea class="form-control" rows="3" id="aboutText"></textarea>
                <p class="help-block">
                    {{ mf 'addEvents-addEventForm-eventTitle-aboutEvent-helpText' 'Briefly describe the objectives of this event.' }}</p>
            </div>
            <button type="submit" class="btn btn-success" id="addEvent">
                {{ mf 'addEvents-addEventForm-eventTitle-addEvent-button' 'Add Event' }}
            </button>
        </div>
    </div>
</template>
