<template name="courseToolbarTabs">
    <ul class="nav nav-pills toolbar-pages-list navbar-left">
        <li class="{{ isActiveRoute regex='^course$' }}">
            <a href="{{ pathFor 'course' }}">
                {{ mf 'courseToolbarTabs-courseMaterialTabText' 'Course material' }}
            </a>
        </li>
        <li class="{{ isActiveRoute regex='peopleAttending' }}">
            <a href="/course/:_id/{{ this }}">
                {{ mf 'courseToolbarTabs-peopleAttendingTabs' 'People Attending'}}
            </a>
        </li>
    </ul>
</template>
