<template name="eventCard">
    <li class="col-md-3">
        <div class="thumbnail event-card">
            <div class="event-image">
                <a href ="/event/{{ _id }}">
                  <img alt="Event cover image" src="{{ coverImage.url }}" />
                </a>
            </div>
            <div class="caption">
              <a class="event-category" href="#">National University of Singapore</a>
                <h2 class="event-card-title">
                    <a href ="/event/{{ _id }}">{{ title }}</a>
                </h2>
<!--                <p>by <a href="#">{{ author }}</a></p>-->
                <p>{{{ truncate about 77 }}}</p>
                {{# with truncateKeywords 6 keywords }}
                <p>
                    {{# each truncatedKeywords }}
                    <a class="tag-label" href="/learn/{{ this }}" title="Resources page for {{ this }}" id="tag">
                        <span class="label label-info">{{ this }}</span>
                    </a>
                    {{/each}}
                </p>
                {{/ with }}
            </div>
            <div class="row">
            <button type="button" class="btn" id="addEvent">
                I want to go!
            </button>
            <button type="button" class="btn" id="checkPeople">
              <a href ="/event/{{ _id }}/peopleAttending">
                Who?
              </a>
          </button>
          </div>
          <span class="label label-danger" id="indicator">Attending: {{ numLikes }}</span>


<!--
<div class="modal-footer" style="text-align: left">
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}};">
<span class="sr-only">{{progress}} Complete</span>
</div>
</div>
<div class="row">
<div class="col-md-6"><b>{{progress}}</b><br/><small>COMPLETED</small></div>
<div class="col-md-6"><b>{{peers}}</b><br/><small>PEERS</small></div>
</div>
</div>
-->
        </div>
    </li>
</template>
