<template name="eventInfo">
    {{>eventToolbar}}
    <div class="row">
        <div class="panel panel-default">
            {{> eventTitle }}
            <div class="panel-body">
                {{> eventMeta }}
                {{> eventImage}}
                {{# if editingThisEvent }}
                {{> editableText
                    collection="events"
                    field="about"
                    textarea=true
                    wysiwyg=true
                    substitute='<i class="fa fa-pencil"></i>' }}
                {{ else}}
                <p class="eventinfo-text" data-type="textarea">{{{ about }}}</p>
                {{/ if }}
            </div>
        </div>
    </div>
</template>
